
lineage-map {

	display:block;
	box-sizing:border-box;

	.node circle {
	  fill: #fff;
	  stroke: #333;
	  stroke-width: 1.5px;
	}

	.node text {
		font-family: Tahoma;
		font-size: 11px;
	}

	path.link {
	  fill: none;
	  stroke: #333;
	  stroke-width: 1.5px;
	}
}